.page-activation {
  p {
    font-family: "Roboto", normal;
    font-size: 16px;
    text-align: center;
    color: $color-base;
    line-height: 19px;
    margin-top: 30px;
  }
  button {
    margin-top: 20px;
  }
}
