.page-createpassword {
    .wrapper-icon {
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }
    p {
        font-family: 'Roboto', cursive;
        font-size: 16px;
        font-weight: 400;
        text-align: center;
        color: $color-primary;
        margin-top: 29px;
        margin-bottom: 29px;
    }      
    .wrapper-button {
        margin-top: 20px;
    }
  }