.page-login {
  height: 100%;
  h1 {
    font-family: 'Salsa', cursive;
    font-size: 20px;
    font-weight: 400;
    color: $color-primary;
    margin-top: 45px;
    margin-bottom: 29px;
  }
  p {
    font-family: 'Salsa', cursive;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: $color-primary;
    margin-top: 29px;
    margin-bottom: 29px;
  }
}
