@mixin tablet {
    @media (min-width: #{$breakpoint-tablet}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$breakpoint-desktop}) {
        @content;
    }
}

@mixin x-desktop {
    @media (min-width: #{$breakpoint-x-large}) {
        @content;
    }
}

@mixin xx-desktop {
    @media (min-width: #{$breakpoint-xx-large}) {
        @content;
    }
}

@mixin lx-desktop {
    @media (min-width: #{$breakpoint-lx-large}) {
        @content;
    }
}

@mixin full-screen($position: absolute) {
    position: $position;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;    
}

@mixin column($wrap: wrap) {
    display: flex;
    flex-direction: column;
    flex-wrap: $wrap;
}

@mixin row($wrap: wrap) {
    display: flex;
    flex-direction: row;
    flex-wrap: $wrap;
}

@mixin fface($family, $file: "", $weight: 400, $svg: "", $style: normal) {
    @font-face {
        font-family: $family;
        src: url("/assets/fonts/#{$file}.ttf") format("truetype");
        font-weight: $weight;
        font-style: $style;
    }
}

@mixin alinhar($base, $eixo) {
    justify-content: $base;
    align-items: $eixo;
}
