$color-base: #5a5a5a;
$color-primary: #454545;
$color-secondary: #ff7a00;

$color-light: #fff;
$color-dark: #000;

/**
* Breakpoints (Mobile First!)
*/
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-x-large: 1200px;
$breakpoint-xx-large: 1440px;
$breakpoint-lx-large: 2000px;
