<div class="page-createpassword container">
	<div class="wrapper-icon">
		<img src="./assets/icons/icon-grego-4.png" alt="Menu Grego">
	</div>

	<p>Falta muito pouco agora. Para ativar sua conta defina uma senha de acesso.</p>

	<form [formGroup]="formPassword">
		<mat-form-field appearance="outline">
      <mat-label>Senha</mat-label>
      <input matInput formControlName="password" [type]="hidepassword ? 'password' : 'text'" placeholder="Senha">
      <button mat-icon-button matSuffix (click)="hidepassword = !hidepassword" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hidepassword">
        <mat-icon>{{ hidepassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="formPassword.controls.password.hasError('required')">Senha é obrigatório</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Repetir a senha</mat-label>
      <input matInput formControlName="repeatpass" [type]="hiderepeatpassword ? 'password' : 'text'" placeholder="Senha">
      <button mat-icon-button matSuffix (click)="hiderepeatpassword = !hiderepeatpassword" [attr.aria-label]="'Hide repeatpass'"
        [attr.aria-pressed]="hiderepeatpassword">
        <mat-icon>{{ hiderepeatpassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="formPassword.controls.repeatpass.hasError('required')">Repetira senha é obrigatório</mat-error>
    </mat-form-field>





	</form>

	<button mat-flat-button class="wrapper-button button" type="button" color="primary">Definir Senha</button>

</div>
