<div class="page-home container">
  <div class="wrapper-icon">
    <img src="./assets/icons/icon-grego-2.png" alt="Menu Grego">
    <span>Restaurante da Grécia</span>
    <!-- <p>Olá Fulano</p> -->
  </div>
  <hr>


  <div class="wrapper-button">
    <button mat-flat-button type="button" color="primary" class="button">Configurar Cardápio</button>
    <button mat-flat-button type="button" color="primary" class="button">Visualizar Cardápio</button>
    <button mat-flat-button type="button" color="primary" class="button secondary-button">Escolher Plano de
      Assinatura</button>
  </div>
  <p>Você tem 7 dias pra testar seu cardápio</p>
</div>