<div class="page-activation container">
  <img src="./assets/icons/icon-grego-4.png" alt="Menu Grego">

  <p>Olá FULANO, estamos muito felizes com sua decisão de ter um cardápio digital incrível para seu negócio.</p>

  <p>Para ativar sua conta clique no link abaixo ou copie e cole no seu navegador o link de ativação.</p>

  <p>A partir da ativação você tem 15 dias de gratuítos para testar todas as funcionalidades.</p>

  <button mat-flat-button type="button" color="primary" class="button">Ativar minha conta</button>

  <p><a href="#">https://menugrego.com.br/ativar/hiaqi-asdas-sadasd--asdasdasda-asdasdasda--adsasdasd</a></p>

  <p>Caso tenha alguma dúvida, problema ou sugestões, por favor envie um e-mail para o
    <a href="#">suporte@menugrego.com.br</a>
    ou uma mensagem para o Whatsapp <a href="#">(11)99999-9999</a>.
  </p>

  <p>Menu Grego - Useful Softwares - CNPJ</p>

</div>