<div class="page-finish container">
  <img src="./assets/icons/icon-grego-4.png" alt="Menu Grego">

  <h1>Parabéns!</h1>

  <p>Seja muito bem vindo ao Menu Grego. Nossa missão é facilitar sua comunicação com seu cliente atráves de cardápios
    impactantes.</p>
  <p>Enviamos um link para o e-mail sdaksdja@kaksda.com para ativar sua conta.</p>
  <p>A partir da ativação você tem 15 dias gratuítos para testar todas as funcionalidades.</p>
  <p>Assim que ativado te guiaremos na criação e configuração do seu cardápio, caso tenha algum problema ou dúvida por
    favor envie um e-mail para suporte@menugrego.com.br ou uma mensagem para o Whatsapp (11) 9999-9999</p>

  <button mat-flat-button type="button" class="button" color="primary" (click)="onSubmit()">Fazer login</button>
</div>